/.cache/
/.lsp-session
/auto-save-list/
/eln-cache/
/elpa/
/emacs-private.el
/fontaine-latest-state.eld
/history
/projects
/recentf
/straight/
/tmp/
/transient/
/tree-sitter/
/workspace/
flycheck_*.el
/eclipse.jdt.ls/
/tramp
*.elc
/.org-id-locations
/.dap-breakpoints
.aider*
.env
/eshell/
